.Hero {
    background: #2A928F;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.HeroGroup {
    margin: 0 auto;
    max-width: 100%;
    padding: 50px 50px;
}

.HeroSlogan {
    font-size: 35px;
    text-align: center;
}

.HeroGroupText {
    font-size: 30px;
    color: black;
    margin: 0;
    line-height: 1.2;
}

.HeroGroupText2 {
    color: black;
}
