.GasStationContainer {
    /* display: flex;
    white-space: pre; */
}

.StationListContainer {
    margin: 3vw;
    white-space: pre;
}

.StationList {
    font-size: 1.95em;
    list-style-type: none;
}

