.GasStationContainer {
    /* display: flex;
    white-space: pre; */
}

.StationListContainer {
    margin: 3vw;
    white-space: pre;
    height: 80vh;
    overflow: scroll;
}

.StationListContainerNoScroll {
    margin: 3vw;
    white-space: pre;
    height: 80vh;
}

.StationList {
    font-size: 1.95em;
    list-style-type: none;
}

.FuelPriceCollapse {
    cursor: pointer;
}
