.Header {
    display: flex;
    width: 70%;
    height: 15vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.LogoContainer,
.NavLinks {
    display: flex;
}

.LogoContainer {
    flex: 1;
}

.logo {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.NavLinks {
    flex: 1;
    justify-content: space-around;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.NavLink {
    text-decoration: none;
}
