/* .Hero {
    background: #2A928F;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
} */

/* .HeroGroup {
    margin: 0 auto;
    max-width: 100%;
    padding: 150px 50px;
} */

/* .HeroSlogan {
    font-size: 35px;
    text-align: center;
    color: black;
} */

/* .HeroGroupText {
    font-size: 25px;
    color: black;
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
} */

/* .HeroGroupText2 {
    text-align: center;
} */
